.todoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8758ff;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 80%;
    cursor: pointer;
    .iconDiv{
        width: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    p{
        overflow-y: scroll;
    }
    .subTaskOpenButton{
        border: 1px solid gray;
        padding: 1%;
    }

  }
  .completedCard{
    background: #52ce3a !important;
  }